# macOS system files
.DS_Store

# VSCode settings folder
.vscode/

# Backup or copies
app copy*.js
# Backup or copies
app_copy*.js
# Backup or copies
index_copy*.html

to_ignore/

# Large data files or folders you don't want to track
#data/
#public/