.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
    gap: 12px;
    padding: 20px;
  }
  .pokemon-card {
    border: 1px solid #ccc;
    text-align: center;
    padding: 8px;
    border-radius: 5px;
    background: white;
    cursor: pointer;
    transition: 0.2s ease;
  }
  .pokemon-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
  }

  #shiny-summary-alt {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
    gap: 12px;
    padding: 20px;
  }

  #shiny-summary {
    display: flex;
    flex-direction: column;
    gap: 2em; /* space between periods */
  }
  
  .card-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }
  

  .highlighted {
    background-color: #D0f0ff;
    outline: 5px solid #444;
  }


  .container {
    padding: 1rem;
    max-width: 1400px;
    margin: auto;
  }

  .role-grid {
    border-collapse: collapse;
    width: 100%;
  }
  .role-grid th,
  .role-grid td {
    border: 1px solid #ccc;
    padding: 6px;
    text-align: left;
  }
  .role-section-header {
    background-color: #f0f0f0;
    font-weight: bold;
    text-transform: uppercase;
  }
  .sub-role-name {
    font-style: italic;
    background-color: #fafafa;
  }
  
  #chart {
    width: 100%;
    max-width: 1200px;
    margin: auto;
  }
  
  .responsive-svg {
    width: 100%;
    height: auto;
  }
  